<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>404 Not Found</title>
		<style type="text/css">
			<!--
			body {
			background-color: #0402a4;
			font-size: 18px;
			font-family: Courier, Consolas;
			color: #FFFFFF;
			}
			-->
		</style>
	</head>
	<body>
		<p>检测到一些问题，浏览器已关闭页面，以防损坏您的计算机。</p>
		<p>404_NOT_FOUND</p>
		<p>如果这是您第一次看到此错误页面，请刷新浏览器。如果此页面再次出现，请执行以下步骤：</p>
		<p>检查以确保您有足够的磁盘空间，如果在停止页面中标识了驱动程序，请禁用驱动程序或并将驱动程序更新，以及尝试更换显卡。</p>
		<p>与您的硬件供应商检查BIOS更新，禁用BIOS内存选项，如缓存或阴影。如果需要使用安全模式重试，请重新启动浏览器，按Ctrl+Shift+Delete访问“清除最近的历史记录”，然后在“要清除的时间范围”旁边，单击“所有内容”，然后选择“立即清除”。</p>
		<p>错误信息：</p>
		<p>*** STOP:0×00000001( 0×00000000，0×00000001， 0×00000002，0×00000003 )</p>
		<p>开启物理内存转储</p>
		<p>物理内存转储完成</p>
		<p>请与系统管理员或技术支持小组联系以获得进一步的帮助。</p>
	</body>
</html>
